.body {
    background-color: #A0A0A0;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buttonRed {
    padding: 100px 200px;
    font-size: 100px;
    background-color: rgba(17, 17, 17, 0.9);
    color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 20px 20px 75px red;
}

